[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
sklearn = "*"
keras = "*"
pylint = "*"
tensorflow = "*"
fasttext = {editable = true, path = "/Users/atsushi-koshikizawa/repos/external/fastText"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
